<h1>User x</h1>
<p>This is the main landing page for user x. It will get a lot more exciting in time.</p>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>